@model  Octo.Net.UI.ViewModels.GalleryArtwork

@{
    ViewBag.Title = "Galleries";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="row">
    <h2>Galleries</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                    </th>
                    <th scope="col">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Galleries)
                {
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(i => item.GalleryName)
                        </td>

                        <td scope="row">
                            @Html.DisplayFor(i => item.GalleryDescription)
                        </td>

                    </tr>
                    foreach (var item1 in Model.Artworks)
                    {
                        if (item1.GalleryId == item.Id) {
                            <tr>

                                <td scope="row">
                                    @Html.DisplayFor(i => item1.Title)
                                </td>
                            
                            </tr>
                        }
                    }
                 }
                </tbody>
        </table>
        <!--Table to display gallerys-->
    </div>
</div>

