@model Octo.Net.UI.ViewModels.UserGalleryArtwork

@{
    ViewBag.Title = "ImageUpload";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="row">

    <div class="col-md-12">

        

    </div>

</div>
