@model Octo.Net.UI.ViewModels.UserGalleryArtwork

@{
    ViewBag.Title = "ImageUpload";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="row">

    <div class="col-md-12">

        <div class="form-group">
            @Html.Label("Avatar", new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>

    </div>

</div>
