@{
    ViewBag.Title = "Home Page";
}



<div class="row pt-4">
    <div class="col-md-12">
       
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/Content/img/art29.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row">
                    <div class="col-7">
                        <h5 class="card-title font-weight-bold">Tasha Lamoy</h5>
                    </div>
                    
                </div>                
                <p class="card-text">Artist who enjoys creating mythical creatures and believes the secrets are kept hidden.</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/Content/img/art31.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title font-weight-bold">David Marque</h5>
                    </div>
                    
                </div>
                <p class="card-text">Engaging his expertise as a neurosurgeon, using microscopic views to form his art.</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>    
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/Content/img/art35.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5 class="card-title font-weight-bold">Wei Wang</h5>
                    </div>
                    
                </div>
                <p class="card-text">An artist who worked for Blizzard Entertainment. Created many art for World of Warcraft.</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</div>