@{
    ViewBag.Title = "Home Page";
}



<div class="row pt-4">
    <div class="col-md-12">
        <div class="row swiper-container">

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art29.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title font-weight-bold">Tasha Lamoy</h5>
                                </div>
                            </div>
                            <p class="card-text">Artist who enjoys creating mythical creatures and believes the secrets are kept hidden.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>

                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art31.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title font-weight-bold">David Marque</h5>
                                </div>
                            </div>
                            <p class="card-text">Engaging his expertise as a neurosurgeon, using microscopic views to form his art.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art35.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title font-weight-bold">Wei Wang</h5>
                                </div>
                            </div>
                            <p class="card-text">An artist who worked for Blizzard Entertainment. Created many art for World of Warcraft.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art15c.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title font-weight-bold">Alex Conroy</h5>
                                </div>
                            </div>
                            <p class="card-text">An artist who enjoys painting by using his skills to create animals in the wild.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>

                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art13c.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title font-weight-bold">AkaruiMiho</h5>
                                </div>
                            </div>
                            <p class="card-text">An artist who enjoys creating cool art with a dense theme backed by science fiction.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art18c.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title font-weight-bold">Ganesh Dans</h5>
                                </div>
                            </div>
                            <p class="card-text">An artist who seeks and works with elephants in India, protraying their beauty in his artwork.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art6c.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title font-weight-bold"></h5>
                                </div>
                            </div>
                            <p class="card-text">Artist who enjoys creating mythical creatures and believes the secrets are kept hidden.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>

                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art9c.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title font-weight-bold"></h5>
                                </div>
                            </div>
                            <p class="card-text">Engaging his expertise as a neurosurgeon, using microscopic views to form his art.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art35.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title font-weight-bold"></h5>
                                </div>
                            </div>
                            <p class="card-text">An artist who worked for Blizzard Entertainment. Created many art for World of Warcraft.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art29.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title font-weight-bold"></h5>
                                </div>
                            </div>
                            <p class="card-text">Artist who enjoys creating mythical creatures and believes the secrets are kept hidden.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>

                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art31.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title font-weight-bold"></h5>
                                </div>
                            </div>
                            <p class="card-text">Engaging his expertise as a neurosurgeon, using microscopic views to form his art.</p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-cf">
                        <img src="~/Content/img/art34c.jpg" class="card-img-top card-image-resize" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title font-weight-bold">Joseph Mallord William Turner</h5>
                                </div>
                            </div>
                            <p class="card-text">An English painter who works with oil painting and watercoloring. </p>
                            <a href="#" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

            </div>

        <div class="swiper-pagination"></div>

    </div>
    </div>
</div>


<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        setWrapperSize: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            autoHeight: true,
            initialSlide: 3,
            rotate: 10,
            stretch: 0,
            depth: 50,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
        autoplay: {
            delay: 2500,
            disableOnInteraction:false
        }
    });
</script>