/*.jumbo_main {
    min-height: 25rem;
}*/

.carousel1 {
    background-image: url(img/jumbo1.jpg);
    background-size: 100%;
    min-height: 45rem;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;    
}


    .carousel2 {
        background-image: url(img/jumbo2.jpg);
        background-size: 100%;
        min-height: 45rem;
        background-position: center;
        background-repeat: no-repeat;
    }

.carousel3 {
    background-image: url(img/jumbo3.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 45rem;
}

.carousel-content {
    padding-top: 25rem;    
}

.carousel-content h1{
    color: white;
}

    .carousel-content p {        
        color: white;
    }

    .carousel-content .card {
        text-align: center;
        padding: 5px 10px;
        background-color: unset;
    }

        .carousel-content button {
           align-items:center;
        }



.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.user-image {
    border-radius: 50%;
    min-width: 75px;
    min-height: 75px;
    background-color: white;}


/*****************************************Navbar Area****************************************************/
/*.navbar-brand {
    background-image: url(img/L1.png);
    background-size: 45px;
    background-repeat: no-repeat;
}*/



/***********************************General Formating Area***************************************************/
/*This are is for universal formating standards*/

.indented-text {
    text-indent:  1vw;
    
}

.card-spacing{
    margin: 1vw 1vw 1vw 1vw;
}


/********************************** User Profile Page ****************************************************/
.profile-image {
    max-height: 175px;
    max-width: 175px;
}

.profile-image-area {
    padding-top: 3vw;
    padding-left: 3vw;
}

.profile-banner {
    min-height: 350px;
    min-width: 100%;
    background-color:lightgray;
}

.profile-recent-works {
    margin-top: 1vw;
}

.profile-lower {
    margin-top: 1vw;
}


/***************************************************Swiper Specific************************************/

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    height: auto;
    max-width: 300px;
    
}

.swiper-slide-active{
    height:auto;
    width:auto;
}


/******************************************************Card Styles**********************************/
.card-image-resize{
    max-height:300px;
    max-width:300px;
}

.card{
    margin:0;
}

.card-cf {
    margin: 0;
    max-height: 800px;
    max-width: 300px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}